<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Under Development</title>
</head>

<body>
    <h1>Stay Tune, We are Updating Our Server! <br> Will be back after 30 min.</h1>
</body>

</html>